= render "shared/header"
-# <ヘッダーの下のナビゲーション>
%nav.header__nav
  %ul.header__nav__lists
    %li
      =link_to "FURIMA","/",class:"header__nav__lists__list"
    %li.header__nav__lists__list
      %i.fa.fa-angle-right
    %li
      =link_to "ベビー・キッズ","/",class:"header__nav__lists__list"
    %li.header__nav__lists__list
      %i.fa.fa-angle-right
    %li
      =link_to "ベビー服(男女兼用)  ~95cm","/",class:"header__nav__lists__list"
    %li.header__nav__lists__list
      %i.fa.fa-angle-right
    %li
      =link_to "アウター","/" ,class:"header__nav__lists__list"
    %li.header__nav__lists__list
      %i.fa.fa-angle-right
    %li
      %p.header__nav__lists__list 
        = @item.name
-#  <商品詳細ページのmain>     
.prodactdetails
  .prodactdetails__main
    .prodactdetails__main__contents
      .prodactdetails__main__contents__topcontent
        .prodactdetails__main__contents__topcontent__itembox
          %h2.itembox--name 
            = @item.name
          .itembox--body
            %ul.itembox--body__img
              %li.itembox--body__img__box
                =image_tag @image.item_image,class:"itembox--body__img__box__main"
                %ul.itembox--body__img__box__lists
                  - @images.each do |image|
                    %li.itembox--body__img__box__lists__list
                      = image_tag "#{image.item_image}", alt: "サムネイル", class: "itembox--body__img__box__lists__list"
                -if @item.buyer_id.present? 
                  .items-box_photo__sold
                    .items-box_photo__sold__inner
                      SOLD
                      
          .itembox--price
            %span.itembox--price__head 
              = @item.price.to_s(:delimited)
              円
            .itembox--price__details
              %span (税込)
              %span 
                = @item.postage
          - if current_user.presence
            - if @item.buyer_id.present? 
              .item__sold
                売り切れました
            - elsif @item.user_id == current_user.id  
              .item__buy
                = link_to '商品の編集', edit_post_path, class: "item__buy__btn"
              .item__delete
                = link_to '商品の削除', post_path(@item.id), class: "item__delete__btn",method: :delete
            - elsif @item.buyer_id.nil? 
              .item__buy
                = link_to '購入画面へ進む', purchase_path , class: "item__buy__btn" 
          .itembox--text
            = @item.explanation
          .itembox--table
            %table.itembox--table__details
              %tbody.itembox--table__details__mass
                %tr
                  %th.line--Seller 出品者
                  %td.line--SellerName 
                    = @user.nickname
                %tr
                  %th.line--Categories カテゴリー
                  %td.line--CategoriesName
                    -# - if @item.category_id != 0
                    -#   = link_to "#",class: "line--CategoriesName__link" do
                    -#     = @item.category.parent.parent.name
                    -#     %br
                    -#     >
                    -#     = @item.category.parent.name
                    -#     %br
                    -#     >
                    -#     = @item.category.name
                    -# - else 
                    -#   カテゴリ未登録
                    =link_to "ベビー・キッズ","#",class: "line--CategoriesName__link"
                    %br/
                    =link_to "ベビー服(男女兼用)  ~95cm","#",class: "line--CategoriesName__link"
                    %br/
                    =link_to "アウター","#",class: "line--CategoriesName__link"
                %tr
                  %th.line--Bland ブランド
                  %td.line--BlandName
                %tr
                  %th.line--ProductSize 商品のサイズ
                  %td.line--ProductSizeNumber
                %tr
                  %th.line--ProductStatus 商品の状態
                  %td.line--ProductStatusnow 
                    = @item.status
                %tr
                  %th.line--PostageBurden 配送料の負担
                  %td.line--Postage 
                    = @item.postage
                %tr
                  %th.line--Shipping 発送元の地域
                  %td.line--Shippingarea
                    =link_to @item.ship_form_address,"#",class: "line--Shippingarea__link"
                %tr
                  %th.line--Date 発送日の目安
                  %td.line--DatePeriod 
                    = @item.shipping_days
                    %span.product-fee_payer
          
          .itembox--option
            %ul.itembox--option__btn
              %li.itembox--option__btn__like
                %i.fa.fa-star
                お気に入り 0
            %ul.itembox--option__btn
              %li.itembox--option__btn__report
                =link_to "#",class:"itembox--option__btn__report__link" do
                  %i.fa.fa-flag
                  不適切な商品の通報


        .prodactdetails__main__contents__topcontent__commentbox
          %ul.commentContents
          %form.new__comment{"accept-charset": "UTF-8", action: "#", method: "post"}
            %input{name: "utf8", type: "hidden", value: "✓"}/
            %input{name: "authenticity_token", type: "hidden", value: "✓"}/
            %textarea.new__comment__body{name: "comment[body]", required: "required"}
            %p.new__comment__Note
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %br/
            %button.new__comment__Btn{name: "button", type: "submit"}
              %i.fa.fa-comment
              コメントする

      %ul.prodactdetails__main__contents__links
        %li
          =link_to "#",class:"prodactdetails__main__contents__links__previous" do
            %i.fa.fa-angle-left
            %span
            前の商品
        %li
          =link_to "#",class:"prodactdetails__main__contents__links__back" do
            %span 後ろの商品
            %i.fa.fa-angle-right

      .prodactdetails__main__contents__relateditems
        =link_to "ベビー・キッズをもっと見る","#",class: "prodactdetails__main__contents__relateditems__link" 
        .productLists
= render "aside"
= render "shared/footer"
= render "purchacebtn"