.body
  .user-main
    %h2 会員情報入力
    = form_for(@user, url: user_registration_path) do |f|
      = render "devise/shared/error_messages", resource: @user
      .main-center
        .field
          = f.label :ニックネーム
          %span 必須
          %br/
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
        .field
          = f.label :メールアドレス
          %span 必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :パスワード
          %span 必須
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :パスワード確認
          %span 必須
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"

      -# = f.fields_for :profiles do |p|

      -#   .field
      -#     = f.label :お名前（全角）
      -#     %span 必須
      -#     %br/
      -#     .form-unity
      -#       = f.text_field :first_name, class: "form-conclusion", autofocus: true, autocomplete: "first_name"
      -#       = f.text_field :last_name, class: "form-conclusion", autofocus: true, autocomplete: "last_name"
      -#   .field
      -#     = f.label :お名前カナ（全角）
      -#     %span 必須
      -#     %br/
      -#     .form-unity
      -#       = f.text_field :first_name_kana, class: "form-conclusion" ,autofocus: true, autocomplete: "first_name_kana"
      -#       = f.text_field :last_name_kana, class: "form-conclusion", autofocus: true, autocomplete: "last_name_kana"
      -#   .field
      -#     = f.label :生年月日
      -#     %span 必須
      -#     %br/
      -#     .form-unity
      -#       = f.date_field :birth_year, autofocus: true, autocomplete: "birth_year"
      -#       %h3 年
      -#       = f.month_field :birth_month, autofocus: true, autocomplete: "birth_month"
      -#       %h3 月
      -#       = f.date_field :birth_day	, autofocus: true, autocomplete: "birth_day	"
      -#       %h3 日
      .actions
        = f.submit "次へ進む"

