.body
  %header.Productpurchase__header
    .Productpurchase__header__logo
      =link_to "/",class:"Productpurchase__header__logo--link" do
        =image_tag "logo.png",class: "Productpurchase__header__logo--link--img"
  .user-main
    %h2 会員情報入力
    = form_for(@user, url: addresses_path, method: :get) do |f|
      .main-center
        .field
          = f.label :ニックネーム
          %span 必須
          %br/
          = f.text_field :nickname, autofocus: true, autocomplete: "nickname"
          - if resource.errors.any?
            - resource.errors.full_messages_for(:nickname).each do |message|
              .error= message
        .field
          = f.label :メールアドレス
          %span 必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
          - if resource.errors.any?
            - resource.errors.full_messages_for(:email).each do |message|
              .error= message
        .field
          = f.label :パスワード
          %span 必須
          %br/
          = f.password_field :password, autocomplete: "new-password"
          - if resource.errors.any?
            - resource.errors.full_messages_for(:password).each do |message|
              .error= message
        .field
          = f.label :パスワード確認
          %span 必須
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
          - if resource.errors.any?
            - resource.errors.full_messages_for(:password_confirmation).each do |message|
              .error= message
      .actions
        = f.submit "次へ進む"
  %footer.Productpurchase__footer
    .Productpurchase__footer__box
      %nav.Productpurchase__footerr__box__nav
      %ul.Productpurchase__footer__box__nav__clearfix
        %li
          =link_to "プライバシーポリシー","#",class:"Productpurchase__footer__box__nav__clearfix__list" 
        %li.Productpurchase__footer__nav__clearfix__list
          =link_to "フリマ利用規約","#",class:"Productpurchase__footer__box__nav__clearfix__list"
        %li.Productpurchase__footer__nav__clearfix__list
          =link_to "特定商取引に関する表記","#",class:"Productpurchase__footer__box__nav__clearfix__list" 
      =link_to "#",class:"Productpurchase__footer__box__logo" do
        =image_tag "logo.png",class: "Productpurchase__footer__box__logo--img"
      %p
        %small © Furima, Inc.

