.body
  .user-main
    %h2 住所情報登録
    = form_for @profile, url: user_registration_path do |f|
      = render "devise/shared/error_messages", resource: @address
      .main-center
        .field
          = f.label :お名前（全角）
          %span 必須
          %br/
          .form-unity
            = f.text_field :first_name, class: "form-conclusion", autofocus: true, autocomplete: "first_name"
            = f.text_field :last_name, class: "form-conclusion", autofocus: true, autocomplete: "last_name"
        .field
          = f.label :お名前カナ（全角）
          %span 必須
          %br/
          .form-unity
            = f.text_field :first_name_kana, class: "form-conclusion" ,autofocus: true, autocomplete: "first_name_kana"
            = f.text_field :last_name_kana, class: "form-conclusion", autofocus: true, autocomplete: "last_name_kana"
        .field
          = f.label :生年月日
          %span 必須
          %br/
          .form-unity
            = f.text_field :birth_year, autofocus: true, autocomplete: "birth_year"
            %h3 年
            = f.text_field :birth_month, autofocus: true, autocomplete: "birth_month"
            %h3 月
            = f.text_field :birth_day	, autofocus: true, autocomplete: "birth_day	"
            %h3 日
        .actions
          = f.submit "次へ進む"