.body
  .user-main
    %h2 住所情報登録
    = form_for @address do |f|
      = render "devise/shared/error_messages", resource: @address
      .main-center
        .field
          = f.label :お名前（全角）
          %span 必須
          %br/
          .form-unity
            = f.text_field :first_name, class: "form-conclusion", autofocus: true, autocomplete: "first_name"
            = f.text_field :last_name, class: "form-conclusion", autofocus: true, autocomplete: "last_name"
        .field
          = f.label :お名前カナ（全角）
          %span 必須
          %br/
          .form-unity
            = f.text_field :first_name_kana, class: "form-conclusion" ,autofocus: true, autocomplete: "first_name_kana"
            = f.text_field :last_name_kana, class: "form-conclusion", autofocus: true, autocomplete: "last_name_kana"
        .field
          = f.label :郵便番号
          %span 必須
          %br/
          = f.text_field :postcode, autofocus: true, autocomplete: "postcode"
        .field
          = f.label :都道府県
          %span 必須
          %br/
          = f.text_field :prefecture_id, autofocus: true, autocomplete: "prefecture_id"
        .field
          = f.label :市区町村
          %span 必須
          %br/
          = f.text_field :city, autofocus: true, autocomplete: "city"
        .field
          = f.label :番地
          %span 必須
          %br/
          = f.text_field :block, autofocus: true, autocomplete: "block"
        .field
          = f.label :マンション、ビル名、部屋番号
          %br/
          = f.text_field :building, autofocus: true, autocomplete: "building"
        .field
          = f.label :お届け先電話番号
          %br/
          = f.telephone_field :phone_number, autofocus: true, autocomplete: "phone_number"
        .actions
          = f.submit "次へ進む"

