.address-body
  %header.Productpurchase__header
    .Productpurchase__header__logo
      =link_to "/",class:"Productpurchase__header__logo--link" do
        =image_tag "logo.png",class: "Productpurchase__header__logo--link--img"
  .user-main
    %h2 プロフィール
    = form_for @profile, url:  user_registration_path, method: :post do |f|
      .main-center
        .field
          = f.label :お名前（全角）
          %span 必須
          %br/
          .form-unity
            = f.text_field :last_name, placeholder: "例）山田", class: "two-field-a"  
            = f.text_field :first_name, placeholder: "例) 太郎", class: "two-field-b"
          - if @profile.errors.any?
            - @profile.errors.full_messages_for(:first_name).each do |message|
              .error= message
          - if @profile.errors.any?
            - @profile.errors.full_messages_for(:last_name).each do |message|
              .error= message
        .field
          = f.label :お名前カナ（全角）
          %span 必須
          %br/
          .form-unity
            = f.text_field :last_name_kana, placeholder: "例）ヤマダ", class: "two-field-a" 
            = f.text_field :first_name_kana, placeholder: "例）タロウ", class: "two-field-a" 
          - if @profile.errors.any?
            - @profile.errors.full_messages_for(:first_name_kana).each do |message|
              .error= message
          - if @profile.errors.any?
            - @profile.errors.full_messages_for(:last_name_kana).each do |message|
              .error= message
        .field
          = f.label :生年月日
          %span 必須
          %br/
          .form-unity
            = f.text_field :birth_year, placeholder: "例）2000", class: "two-field-a" 
            %h3 年
            = f.text_field :birth_month, placeholder: "例）1", class: "two-field-a" 
            %h3 月
            = f.text_field :birth_day, placeholder: "例）1", class: "two-field-a" 
            %h3 日
          - if @profile.errors.any?
            - @profile.errors.full_messages_for(:birth_year).each do |message|
              .error= message
          - if @profile.errors.any?
            - @profile.errors.full_messages_for(:birth_month).each do |message|
              .error= message
          - if @profile.errors.any?
            - @profile.errors.full_messages_for(:birth_day).each do |message|
              .error= message
        .actions
          = f.submit "次へ進む"
  %footer.Productpurchase__footer
    .Productpurchase__footer__box
      %nav.Productpurchase__footerr__box__nav
      %ul.Productpurchase__footer__box__nav__clearfix
        %li
          =link_to "プライバシーポリシー","#",class:"Productpurchase__footer__box__nav__clearfix__list" 
        %li.Productpurchase__footer__nav__clearfix__list
          =link_to "フリマ利用規約","#",class:"Productpurchase__footer__box__nav__clearfix__list"
        %li.Productpurchase__footer__nav__clearfix__list
          =link_to "特定商取引に関する表記","#",class:"Productpurchase__footer__box__nav__clearfix__list" 
      =link_to "#",class:"Productpurchase__footer__box__logo" do
        =image_tag "logo.png",class: "Productpurchase__footer__box__logo--img"
      %p
        %small © Furima, Inc.
