.body
  .user-main
    %h2 住所情報登録
    = form_for @delivery do |f|
      = render "devise/shared/error_messages", resource: @delivery
      .main-center
        .field
          = f.label :ニックネーム
          %span 必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :メールアドレス
          %span 必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :パスワード
          %span 必須
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :パスワード確認
          %span 必須
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
        .field
          = f.label :お名前（全角）
          %span 必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :お名前カナ（全角）
          %span 必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :生年月日
          %span 必須
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .actions
          = f.submit "次へ進む"

